.imgLam{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.filtro-bn{
    filter: grayscale(100%);
    opacity: 0.3;
}

.sin-filtro {
    filter: grayscale(0%);
}
